.container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 100px 100px 100px;
    }
    .box {
    background-color: bisque;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
    color: black;
    }
    .boxA {
    grid-column: 1 / 3;
    grid-row: 1;
    }
    .boxB {
    grid-column: 3;
    grid-row: 1 / 3;
    }
    .boxC {
    grid-column: 1;
    grid-row: 2;
    }
    .boxD {
    grid-column: 2;
    grid-row: 2;
    }